language: julia
os:
  - linux
  - osx
julia:
  - 0.7
  - 1.0
  - 1.1
  - nightly
matrix:
  allow_failures:
  - julia: nightly
notifications:
    email: false
after_success:
    - julia -e 'using Pkg; cd(Pkg.dir("Rsvg")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
